body {
    background-color: #E3E3E3;
}

nav div a img {
    margin-left: 42pt;
}

section img {

}
.item:hover{
    text-decoration: none;
    color: #931853d7;
}

.item {
    font-family: 'Montserrat', sans-serif;
    color: #931854;
    font-size: 14pt;
    outline: none;
    
}

.menu-items {
    position: absolute;
    right: 100px;
}
@media (min-width: 900px) {
nav div ul li {
    margin-left: 5rem;
}
.titulo {
    font-family: 'Lato', sans-serif;
    font-size: 110pt;
    color: #0B6699;

}

}
@media (max-width: 800px) {
    .menu-items {
    position: absolute;
    right: 70px;
    top: 1px;
    height: 100vh; 
    background-color: #931854;
    }
    .item {
    color: #FFFFFF;
    font-size: 24pt;
    }
    .item:hover {
    color: #FFFFFF;
    }
    .item-ul {
        margin-left: 2rem;
    }

    .titulo {
        font-family: 'Lato', sans-serif;
        font-size: 70pt;
        color: #0B6699;
        z-index: -1;
    }

}


header p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    color: #0B6699;
    z-index: 1;

}
.persona {
    width: 100%;
    z-index: -1;
    position: absolute;
    right: 0;
}
.moldura-div {
    object-fit: cover;
    background-size: cover;
}
.moldura {
    position: absolute;
    right: 1rem;
    top: 32rem;

}

.content-img {
    width: 100%;
}