body {
    background-color: #E3E3E3;
}


nav div a img {
    margin-left: 42pt;
}

.item:hover{
    text-decoration: none;
    color: #931853d7;
}

.item {
    font-family: 'Montserrat', sans-serif;
    color: #931854;
    font-size: 14pt;
    outline: none;
    
}

.menu-items {
    position: absolute;
    right: 100px;
    z-index: 1;
}
@media (min-width: 900px) {
nav div ul li {
    margin-left: 5rem;
}
.titulo {
    font-family: 'Lato', sans-serif;
    font-size: 110pt;
    color: #0B6699;
}
.paragrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    color: #0B6699;
    width: 50%;
    height: 20%;
    flex-direction: column;
    justify-content: center;
}

}
@media (max-width: 800px) {
    .menu-items {
    position: absolute;
    right: 70px;
    top: 1px;
    height: 100vh; 
    background-color: #931854;
    }
    .item {
    color: #FFFFFF;
    font-size: 24pt;
    }
    .item:hover {
    color: #FFFFFF;
    }
    .item-ul {
        margin-left: 2rem;
    }
    .titulo {
        font-family: 'Lato', sans-serif;
        font-size: 70pt;
        color: #0B6699;
    }
    .paragrafo {
        font-family: 'Montserrat', sans-serif;
        font-size: 17pt;
        color: #0B6699;
    }
    .moldura-persona {
        position: absolute;
        right: 1.5rem;
        bottom: 0.5rem;
        background-image: url(/assets/img/photo-of-lovely-young-dark-skinned-female-with-pleased-expression-indicates-with-thumb-aside-dressed-in-casual-clothes-isolated-over-white-wall-offers@2x.png);
        background-size: 1200px;
        width: 40%;
        height: 90%;
        background-repeat: no-repeat;
        background-position: right;
    
    }
    

}


header p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    color: #0B6699;

}

.moldura-persona {
    position: absolute;
    right: 1.5rem;
    bottom: 0.5rem;
    background-image: url(/assets/img/photo-of-lovely-young-dark-skinned-female-with-pleased-expression-indicates-with-thumb-aside-dressed-in-casual-clothes-isolated-over-white-wall-offers@2x.png);
    background-size:10%x 60%;
    width: 90%;
    height: 90%;
    background-repeat: no-repeat;
    background-position: right;

}
.moldura-div {
    width: 100%;
    height: 100%;
    background-image: url(/assets/vetores/Path\ 3.svg);
    background-repeat: no-repeat;
    background-position: center;
}
